export TWITTER4J_DEBUG=true
export TWITTER4J_OAUTH_CONSUMERKEY=XXXXXXX
export TWITTER4J_OAUTH_CONSUMERSECRET=XXXXXXXX
export TWITTER4J_OAUTH_ACCESSTOKEN=XXXXXXXX
export TWITTER4J_OAUTH_ACCESSTOKENSECRET=XXXXXXXXXX
